.row {
    display: flex;
}
.col {
    flex: 4;
    padding: 20px;
    margin: 10px;
    background-color: chartreuse;
}
.col {
    flex: 1;
    padding: 10px;
    margin: 10px;
    background-color: chartreuse;
}
.col-2 {
    flex: 2;
    padding: 10px;
    margin: 10px;
    background-color: chartreuse;
}
.col-3 {
    padding: 10px;
    margin: 10px;
    flex: 3;
     background-color: chartreuse;
}